
  <button class="button" id="genPDF">PDF</button>
  {{#if checkProd}}
  <a href="https://rocky-wave-37637-36d61b992c23.herokuapp.com/api/puppeteer/download/{{userId}}_{{id}}">
  <button class="button" id="download" type="click">Download PDF</button>
</a>
  {{else}}
   <a href="http://localhost:3001/api/puppeteer/download/{{userId}}_{{id}}">
  <button class="button" id="download" type="click">Download PDF</button>
</a>
{{/if}}
   <button id="save-content">Save</button>
 <div id="print-content">
<form class="charsheet" id="charsheet" data-id="{{id}}">
  <header>
    <section class="charname">
      <label for="charname">Character Name</label><input name="charname" id="charname" value="{{name}}" placeholder="Character" />
    </section>
    <section class="misc">
      <ul>
        <li>
          <label for="classlevel">Class & Level</label><input name="classlevel" id="classlevel" value="{{class}}" placeholder="Paladin 2" />
        </li>
        <li>
          <label for="background">Background</label><input name="background" id="background" value="{{background}}" placeholder="Acolyte" />
        </li>
        <li>
          <label for="playername">Player Name</label><input name="playername" id="playername" value="{{playerName}}" placeholder="Player McPlayerface">
        </li>
        <li>
          <label for="race">Race</label><input name="race" id="race" value="{{race}}" placeholder="Half-elf" />
        </li>
        <li>
          <label for="alignment">Alignment</label><input name="alignment" id="alignment" value="{{alignment}}" placeholder="Lawful Good" />
        </li>
        <li>
          <label for="experiencepoints">Experience Points</label><input name="experiencepoints" id="exp" value="{{exp}}" placeholder="3240" />
        </li>
      </ul>
    </section>
  </header>
  Saving Throws
  <main>
    <section>
      <section class="attributes">
        <div class="scores">
          <ul>
            <li>
              <div class="score">
                <label for="Strengthscore">Strength</label><input name="Strengthscore" id="strStat" value="{{strStat}}" placeholder="10" />
              </div>
              <div class="modifier">
                <input name="Strengthmod" id="strStatMod" value="{{strStatMod}}" placeholder="+0" />
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Dexterityscore">Dexterity</label><input name="Dexterityscore" id="dexStat" value="{{dexStat}}" placeholder="10" />
              </div>
              <div class="modifier">
                <input name="Dexteritymod" id="dexStatMod" value="{{dexStatMod}}" placeholder="+0" />
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Constitutionscore">Constitution</label><input name="Constitutionscore" id="conStat" value="{{conStat}}" placeholder="10" />
              </div>
              <div class="modifier">
                <input name="Constitutionmod" id="conStatMod" value="{{conStatMod}}" placeholder="+0" />
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Wisdomscore">Wisdom</label><input name="Wisdomscore" id="wisStat" value="{{wisStat}}" placeholder="10" />
              </div>
              <div class="modifier">
                <input name="Wisdommod" id="wisStatMod" value="{{wisStatMod}}" placeholder="+0" />
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Intelligencescore">Intelligence</label><input name="Intelligencescore" id="intStat" value="{{intStat}}" placeholder="10" />
              </div>
              <div class="modifier">
                <input name="Intelligencemod" id="intStatMod" value="{{intStatMod}}" placeholder="+0" />
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Charismascore">Charisma</label><input name="Charismascore" id="chaStat" value="{{chaStat}}" placeholder="10" />
              </div>
              <div class="modifier">
                <input name="Charismamod" id="chaStatMod" value="{{chaStatMod}}" placeholder="+0" />
              </div>
            </li>
          </ul>
        </div>
        <div class="attr-applications">
          <div class="inspiration box"> 
            <div class="label-container">
              <label for="inspiration">Inspiration</label>
            </div>
            <input name="inspiration" id="inspiration" value="{{inspiration}}" type="checkbox" />
          </div>
          <div class="proficiencybonus box">
            <div class="label-container">
              <label for="proficiencybonus">Proficiency Bonus</label>
            </div>
            <input name="proficiencybonus" id="proficiencyBonus" value="{{proficiencyBonus}}" placeholder="+2" />
          </div>
          <div class="saves list-section box">
            <ul>
              <li>
                <label for="Strength-save">Strength</label><input name="Strength-save" id="strSave" value="{{strSave}}" placeholder="+0" type="text" /><input name="Strength-save-prof" id="strSaveProf" type="checkbox" value="{{strSaveProf}}"/>
              </li>
              <li>
                <label for="Dexterity-save">Dexterity</label><input name="Dexterity-save" id="dexSave" value="{{dexSave}}" placeholder="+0" type="text" /><input name="Dexterity-save-prof" id="dexSaveProf" type="checkbox" value="{{dexSaveProf}}"/>
              </li>
              <li>
                <label for="Constitution-save">Constitution </label><input name="Constitution-save" id="conSave" value="{{conSave}}" placeholder="+0" type="text" /><input name="Constitution-save-prof" id="conSaveProf" type="checkbox" value="{{conSaveProf}}"/>
              </li>
              <li>
                <label for="Wisdom-save">Wisdom</label><input name="Wisdom-save" id="wisSave" value="{{wisSave}}" placeholder="+0" type="text" /><input name="Wisdom-save-prof" id="wisSaveProf" type="checkbox" value="{{wisSaveProf}}"/>
              </li>
              <li>
                <label for="Intelligence-save">Intelligence</label><input name="Intelligence-save" id="intSave" value="{{intSave}}" placeholder="+0" type="text" /><input name="Intelligence-save-prof" id="intSaveProf" type="checkbox" value="{{intSaveProf}}"/>
              </li>
              <li>
                <label for="Charisma-save">Charisma</label><input name="Charisma-save" id="chaSave" value="{{chaSave}}" placeholder="+0" type="text" /><input name="Charisma-save-prof" id="chaSaveProf" type="checkbox" value="{{chaSaveProf}}"/>
              </li>
            </ul>
            <div class="label">
              Saving Throws
            </div>
          </div>
          <div class="skills list-section box">
            <ul>
              <li>
                <label for="Acrobatics">Acrobatics <span class="skill">(Dex)</span></label><input name="Acrobatics" id="acrobatics" value="{{acrobatics}}" placeholder="+0" type="text" /><input name="Acrobatics-prof" id="acrobaticsProf" type="checkbox" value="{{acrobaticsProf}}" />
              </li>
              <li>
                <label for="Animal Handling">Animal Handling <span class="skill">(Wis)</span></label><input name="Animal Handling" id="animalHandling" value="{{animalHandling}}" placeholder="+0" type="text" /><input name="Animal Handling-prof" id="animalHandlingProf" type="checkbox" value="{{animalHandlingProf}}" />
              </li>
              <li>
                <label for="Arcana">Arcana <span class="skill">(Int)</span></label><input name="Arcana" id="arcana" value="{{arcana}}" placeholder="+0" type="text" /><input name="Arcana-prof" id="arcanaProf" type="checkbox" value="{{arcanaProf}}"/>
              </li>
              <li>
                <label for="Athletics">Athletics <span class="skill">(Str)</span></label><input name="Athletics" id="athletics" value="{{athletics}}" placeholder="+0" type="text" /><input name="Athletics-prof" id="athleticsProf" type="checkbox" value="{{athleticsProf}}"/>
              </li>
              <li>
                <label for="Deception">Deception <span class="skill">(Cha)</span></label><input name="Deception" id="deception" value="{{deception}}" placeholder="+0" type="text" /><input name="Deception-prof" id="deceptionProf" type="checkbox" value="{{deceptionProf}}"/>
              </li>
              <li>
                <label for="History">History <span class="skill">(Int)</span></label><input name="History" id="history" value="{{history}}" placeholder="+0" type="text" /><input name="History-prof" id="historyProf" type="checkbox" value="{{historyProf}}"/>
              </li>
              <li>
                <label for="Insight">Insight <span class="skill">(Wis)</span></label><input name="Insight" id="insight" value="{{insight}}" placeholder="+0" type="text" /><input name="Insight-prof" id="insightProf" type="checkbox" value="{{insightProf}}"/>
              </li>
              <li>
                <label for="Intimidation">Intimidation <span class="skill">(Cha)</span></label><input name="Intimidation" id="intimidation" value="{{intimidation}}" placeholder="+0" type="text" /><input name="Intimidation-prof" id="intimidationProf" type="checkbox" value="{{intimidationProf}}"/>
              </li>
              <li>
                <label for="Investigation">Investigation <span class="skill">(Int)</span></label><input name="Investigation" id="investigation" value="{{investigation}}" placeholder="+0" type="text" /><input name="Investigation-prof" id="investigationProf" type="checkbox" value="{{investigationProf}}"/>
              </li>
              <li>
                <label for="Medicine">Medicine <span class="skill">(Wis)</span></label><input name="Medicine" id="medicine" value="{{medicine}}" placeholder="+0" type="text" /><input name="Medicine-prof" id="medicineProf" type="checkbox" value="{{medicineProf}}"/>
              </li>
              <li>
                <label for="Nature">Nature <span class="skill">(Int)</span></label><input name="Nature" id="nature" value="{{nature}}" placeholder="+0" type="text" /><input name="Nature-prof" id="natureProf" type="checkbox" value="{{natureProf}}"/>
              </li>
              <li>
                <label for="Perception">Perception <span class="skill">(Wis)</span></label><input name="Perception" id="perception" value="{{perception}}" placeholder="+0" type="text" /><input name="Perception-prof" id="perceptionProf" type="checkbox" value="{{perceptionProf}}"/>
              </li>
              <li>
                <label for="Performance">Performance <span class="skill">(Cha)</span></label><input name="Performance" id="performance" value="{{performance}}" placeholder="+0" type="text" /><input name="Performance-prof" id="performanceProf" type="checkbox" value="{{performanceProf}}"/>
              </li>
              <li>
                <label for="Persuasion">Persuasion <span class="skill">(Cha)</span></label><input name="Persuasion" id="persuasion" value="{{persuasion}}" placeholder="+0" type="text" /><input name="Persuasion-prof" id="persuasionProf" type="checkbox" value="{{persuasionProf}}"/>
              </li>
              <li>
                <label for="Religion">Religion <span class="skill">(Int)</span></label><input name="Religion" id="religion" value="{{religion}}" placeholder="+0" type="text" /><input name="Religion-prof" id="religionProf" type="checkbox" value="{{religionProf}}"/>
              </li>
              <li>
                <label for="Sleight of Hand">Sleight of Hand <span class="skill">(Dex)</span></label><input name="Sleight of Hand" id="sleightOfHand" value="{{sleightOfHand}}" placeholder="+0" type="text" /><input name="Sleight of Hand-prof" id="sleightOfHandProf" type="checkbox" value="{{sleightOfHandProf}}"/>
              </li>
              <li>
                <label for="Stealth">Stealth <span class="skill">(Dex)</span></label><input name="Stealth" id="stealth" value="{{stealth}}" placeholder="+0" type="text" /><input name="Stealth-prof" id="stealthProf" type="checkbox" value="{{stealthProf}}"/>
              </li>
              <li>
                <label for="Survival">Survival <span class="skill">(Wis)</span></label><input name="Survival" id="survival" value="{{survival}}" placeholder="+0" type="text" /><input name="Survival-prof" id="survivalProf" type="checkbox" value="{{survivalProf}}"/>
              </li>
            </ul>
            <div class="label">
              Skills
            </div>
          </div>
        </div>
      </section>
      <div class="passive-perception box">
        <div class="label-container">
          <label for="passiveperception" id="passiveperception">Passive Wisdom (Perception)</label>
        </div>
        <input name="passiveperception" id="passiveWisdom" value="{{passiveWisdom}}" placeholder="10" />
      </div>
      <div class="otherprofs box textblock">
        <label for="otherprofs">Other Proficiencies and Languages</label><textarea id="otherProficienciesAndLanguages" value="{{otherProficienciesAndLanguages}}" name="otherprofs">{{otherProficienciesAndLanguages}}</textarea>
      </div>
    </section>
    <section>
      <section class="combat">
        <div class="armorclass">
          <div>
            <label for="ac">Armor Class</label><input id="armorClass" value="{{armorClass}}" name="ac" placeholder="10" type="text" />
          </div>
        </div>
        <div class="initiative">
          <div>
            <label for="initiative">Initiative</label><input id="initiative" value="{{initiative}}" name="initiative" placeholder="+0" type="text" />
          </div>
        </div>
        <div class="speed">
          <div>
            <label for="speed">Speed</label><input id="speed" value="{{speed}}" name="speed" placeholder="30" type="text" />
          </div>
        </div>
        <div class="hp">
          <div class="regular">
            <div class="max">
              <label for="maxhp">Hit Point Maximum</label><input id="maxHp" value="{{maxHp}}" name="maxhp" placeholder="10" type="text" />
            </div>
            <div class="current">
              <label for="currenthp">Current Hit Points</label><input id="currentHp" value="{{currentHp}}" name="currenthp" type="text" />
            </div>
          </div>
          <div class="temporary">
            <label for="temphp">Temporary Hit Points</label><input id="tempHp" value="{{tempHp}}" name="temphp" type="text" />
          </div>
        </div>
        <div class="hitdice">
          <div>
            <div class="total">
              <label for="totalhd">Total</label><input id="hitDice" value="{{hitDice}}" name="totalhd" placeholder="2d10" type="text" />
            </div>
            <div class="remaining">
              <label for="remaininghd">Hit Dice</label><input value="{{hitDice}}" name="remaininghd" type="text" />
            </div>
          </div>
        </div>
        <div class="deathsaves">
          <div>
            <div class="label">
              <label>Death Saves</label>
            </div>
            <div class="marks">
              <div class="deathsuccesses">
                <label>Successes</label>
                <div class="bubbles">
                  <input name="deathsuccess1" value="{{deathSavesSuccess}}" type="checkbox" />
                  <input name="deathsuccess2" value="{{deathSavesSuccess}}" type="checkbox" />
                  <input name="deathsuccess3" value="{{deathSavesSuccess}}" type="checkbox" />
                </div>
              </div>
              <div class="deathfails">
                <label>Failures</label>
                <div class="bubbles">
                  <input name="deathfail1" value="{{deathSavesFail}}" type="checkbox" />
                  <input name="deathfail2" value="{{deathSavesFail}}" type="checkbox" />
                  <input name="deathfail3" value="{{deathSavesFail}}" type="checkbox" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="attacksandspellcasting">
        <div>
          <label>Attacks & Spellcasting</label>
          <table>
            <thead>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Atk Bonus
                </th>
                <th>
                  Damage/Type
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input value="{{spellcastingAbility}}" name="atkname1" type="text" />
                </td>
                <td>
                  <input value="{{spellAttackBonus}}" name="atkbonus1" type="text" />
                </td>
                <td>
                  <input value="{{spellSaveDc}}" name="atkdamage1" type="text" />
                </td>
              </tr>
              <tr>
                <td>
                  <input value="{{spellcastingAbility}}" name="atkname2" type="text" />
                </td>
                <td>
                  <input value="{{spellAttackBonus}}" name="atkbonus2" type="text" />
                </td>
                <td>
                  <input  value="{{spellSaveDc}}" name="atkdamage2" type="text" />
                </td>
              </tr>
              <tr>
                <td>
                  <input value="{{spellcastingAbility}}" name="atkname3" type="text" />
                </td>
                <td>
                  <input value="{{spellAttackBonus}}" name="atkbonus3" type="text" />
                </td>
                <td>
                  <input value="{{spellSaveDc}}" name="atkdamage3" type="text" />
                </td>
              </tr>
            </tbody>
          </table>
          <textarea value="{{attacksAndSpellcasting}}"></textarea>
        </div>
      </section>
      <section class="equipment">
        <div>
          <label>Equipment</label>
          <div class="money">
            <ul>
              <li>
                <label for="cp">cp</label><input value="{{equipment}}" name="cp" /> 
              </li>
              <li>
                <label for="sp">sp</label><input value="{{equipment}}" name="sp" />
              </li>
              <li>
                <label for="ep">ep</label><input value="{{equipment}}" name="ep" />
              </li>
              <li>
                <label for="gp">gp</label><input value="{{equipment}}" name="gp" />
              </li>
              <li>
                <label for="pp">pp</label><input value="{{equipment}}" name="pp" />
              </li>
            </ul>
          </div>
          <textarea value="{{equipment}}" placeholder="Equipment list here"></textarea>
        </div>
      </section>
    </section>
    <section>
      <section class="flavor">
        <div class="personality">
          <label for="personality">Personality</label><textarea id="personalityTraits" value="{{personalityTraits}}" name="personality">{{personalityTraits}}</textarea>
        </div>
        <div class="ideals">
          <label for="ideals">Ideals</label><textarea id="ideals" value="{{ideals}}" name="ideals">{{ideals}}</textarea>
        </div>
        <div class="bonds">
          <label for="bonds">Bonds</label><textarea id="bonds" value="{{bonds}}" name="bonds">{{bonds}}</textarea>
        </div>
        <div class="flaws">
          <label for="flaws">Flaws</label><textarea id="flaws" value="{{flaws}}" name="flaws">{{flaws}}</textarea>
        </div>
      </section>
      <section class="features">
        <div>
          <label for="features">Features & Traits</label><textarea id="featuresAndTraits" value="{{featuresAndTraits}}" name="features">{{featuresAndTraits}}</textarea>
        </div>
      </section>
    </section>
  </main>
</form>
<script src="/js/pdf.js"></script>
<script src="/js/saveCharacter.js"></script>